.pai{
    background-color: #FF9C4A ; 
    width: 500px; 
    height: 500px;
}
.filha{
    background-color: #90EE90 ; 
    width: 250px; 
    height: 250px;
}
.filho{
    background-color: #FF0000; 
    color: #FFFF; 
    width: 25px;
     height: 25px; 
     font-style: monospace; 
     font-weight: bold;
    }
.rosa{
    width: 50%; 
    viewport-fit: height 50%; 
    background-color:  rgb(70, 70, 245);
}
.azul{
    viewport-fit: width 75%;
}

